/*  MOBILE  */


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(#33CCFF , #006699 30% 70% , #33CCFF );
  font-family: 'Quicksand', sans-serif;
}
.footer:hover {
  background: linear-gradient(#006699 , #33CCFF 47% 53% , #006699 );
}

.footerText {
  width:50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footerText p {
  color: white;  
  font-size: 3.5vw;
  font-weight: 500;
  text-shadow: 0.5px 0.5px black;
  margin: 0;
  margin-left: 10px;
}

.footerMode {
  width:50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}





/*  DESKTOP  */
@media screen and (min-width: 767px) {
  .footer {
    height: 4%;
  }
  .footerText p {
    font-size: 1.0vw;
    letter-spacing: 1.5px;
    text-shadow: 0.3px 0.5px black;
  }




}