
:root {
    --backgroundColor: white;
    --backgroundColorLight: white;
    --backgroundColorDark: #000000;
    
    --boxshadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  	--boxshadowLight: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  	--boxshadowDark: 0 10px 20px 0 #383838, 0 12px 26px 0 #383838;
}


/*  MOBILE  */

.fullscreensize {
    width:100%;
    min-height: 100%;
    margin:0;
    background-color: var(--backgroundColor); 
    border: 1px solid black;
}


.header {
    position: fixed;      /*  static  */
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid red;
	color: white;
	background: linear-gradient(#33CCFF , #006699 30% 70% , #33CCFF );
}

.header:hover{
	border: 1px solid red;
	color: white;
	background: linear-gradient(#006699 , #33CCFF 47% 53% , #006699 );
    box-shadow:var(--boxshadow); 
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10%;  
    height: 100%;
    padding: 3px;
    container-type: size; 
}

.header-logo img {
    object-fit: contain;
    max-width: 100cqw;  
    max-height: 100cqh;
}

.header-logo img:hover {
    border: 2px inset rgba(255, 255, 255, 0.3);
    opacity: 80%;
    cursor: pointer;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79%;
    height: 100%;
    container-type: size;  
}

.header-text h1 {
    font-size: 60cqh;
    font-weight: 400;
    margin: 0 5% 0 0;
}

.header-text a {
    text-decoration: none;
    color: darkslategrey;
    text-shadow: 1px 1px black, 0 2px black;
    animation: flick 5s infinite;
}

.header-text h1:hover {
    color: darkslategrey;
    text-shadow: 1.5px 1px 1px red;
    transform: translateY(2px);
}

#active {
    display: flex;
    justify-content:center; 
    align-items: center;   
    width: 10%;
    height: 100%;
    margin-left:1%;
    border: 2px solid aliceblue;
    border-radius: 5px;
    container-type: size; 
}

#active p {
    font-size: 70cqh;
    margin: 2px;
    padding: 0; 
    color:  white;
    text-shadow: 1.5px 1px 1px black;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.itemX {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #808080E6;
    background: linear-gradient(#33CCFF , #006699 45% 55% , #33CCFF );
}

.itemX p, .itemX a {
    text-decoration: none;
    font-size: 4.5vw;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    z-index: 1;
    text-decoration: none;
    color:  white;
    text-shadow: 1.5px 1px 1px black;
}
.itemX p:hover, .itemX a:hover {
    color: darkslategrey;
    text-shadow: 1.5px 1px 1px red;
    transform: translateY(2px);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    z-index: 1;   
    border: 1px solid #808080E6;
    background: linear-gradient(#33CCFF , #006699 45% 55% , #33CCFF );
}


.item p, .item a {
	text-decoration: none;
    font-size: 4.5vw;
    margin: 0;
    z-index: 1;
    text-decoration: none;
    color:  white;
    text-shadow: 1.5px 1px 1px black;
}
.item p:hover, .item a:hover {
    color: darkslategrey;
    text-shadow: 1.5px 1px 1px red;
    transform: translateY(2px);
}

.screensize {
	margin-top:25%;
    margin-left:1%;
    width:98%;
}



/*  LANDSCAPE  FOR  MOBILE  */
@media screen and (orientation: landscape) {
    .header {
        height: 7%;
    }
    .itemX p, .itemX a {
        font-size: 2vw;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .item p, .item a {
        font-size: 2vw;
    }
  }




/*  DESKTOP  */
@media screen and (min-width: 767px) {
    .header {
        height: 6%;
    }

    .header-logo {
        width: 3%; 
        justify-content: center;   
    }

    .header-text {
        width: 10%;
        justify-content: center;    
    }

    .header-text h1 {
        font-size: 1.1vw;
        letter-spacing: 1.3px;
        font-weight: 200;
        margin: 0;
        padding: 0;
    }
    
    .navbar {
        width: 84%;
        flex-direction: row;
    }

    #active {
        display: none;
    }

    .menu {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .itemX {
        flex-direction: row;
        justify-content: flex-end;
        position: fixed; 
        right: 5px;
        width: 20%;
        padding: 0;
        border: none;
        background: transparent;
    }
    .itemX p, .itemX a {
        font-size: 1.1vw;
        margin-right: 20px;
    }

    .item {
        flex-direction: row;
        justify-content: center;
        width: 15%;
        padding: 0;
        border: none;
        background: transparent;
    }

    .item p, .item a {
        font-size: 1.1vw;
    } 

    .screensize {
        margin-top:5%;
        margin-left:5%;
        width:90%;
    }

    
}




@media screen and (min-width: 767px) and (max-width: 1300px) {
    .screensize {
        margin-top:8%;
        margin-left:5%;
        width:90%;
    }
}



